@import "tailwindcss";

/* your custom theme */
@theme {
  --color-primary: #22bbea;
  --color-primary-dark: #007bb5;
  --color-primary-light: #33b1ea;

  --color-secondary: #ff9933;
  --color-secondary-dark: #cc7a29;
  --color-secondary-light: #ffad5c;

  --color-text-primary: #1f2937;
  --color-text-secondary: #4b5563;
  --color-text-muted: #9ca3af;
  --color-text-light: #ffffff;
}

* {
  font-family: "Poppins", "Battambang", sans-serif;
}