@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Battambang:wght@100;300;400;700;900&family=Koh+Santepheap:wght@100;300;400;700;900&family=Moul&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* your custom theme */
@theme {
  --color-primary: #22bbea;
  --color-primary-dark: #007bb5;
  --color-primary-light: #33b1ea;

  --color-secondary: #ff9933;
  --color-secondary-dark: #cc7a29;
  --color-secondary-light: #ffad5c;

  --color-text-primary: #1f2937;
  --color-text-secondary: #4b5563;
  --color-text-muted: #9ca3af;
  --color-text-light: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
}